<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %></br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %></br>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :image_url %><p>(Make sure it's a image address)</p></br>
    <%= form.text_field :image_url %>
  </div>

  <div class="field">
    <%= form.label :category %></br>
    <%= form.select :category_id, [['Business', 1], ['Sports', 2], ['Fashion', 3], ['Enterteinment', 4]] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
