<div class="articles-container">
  <div>
    <%= image_tag('img-1.jpg', :alt => 'img', :class => 'img')%>
  </div>
  <div>
    <%= image_tag('img-2.jpg', :alt => 'img', :class => 'img')%>
  </div>
  <div>
    <%= image_tag('img-3.jpg', :alt => 'img', :class => 'img')%>
  </div>
  <div>
    <%= image_tag('img-4.jpg', :alt => 'img', :class => 'img')%>
  </div>
  <div>
    <%= image_tag('img-5.jpg', :alt => 'img', :class => 'img')%>
  </div>
  <div>
    <%= image_tag('img-6.jpg', :alt => 'img', :class => 'img')%>
  </div>
</div>