<!DOCTYPE html>
<html>
  <head>
    <title>RampartArticles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <nav class="nav-header d-flex">
          <div class="logo-container d-flex">
            <h1 class="logo-title">Rampart</h1>
            <%= image_tag("logo-rampart-orange.jpg", :alt => "logo", :class => "logo-image") %>
          </div>

          <div class="links-container d-flex">
            <%= link_to 'HOME', root_path, class: 'nav-btn' %>
            <%= link_to 'ARTICLES', all_path, class: 'nav-btn'%>
          </div>

          <div class="reg-links d-flex">
            <% if user_signed_in? %>
              <%= link_to 'WRITE A POST', new_article_path, class: 'nav-btn' %>
              <%= link_to current_user.name, class: 'nav-btn' %>
              <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class: 'nav-btn' %>
            <% else %>
              <%= link_to 'LOGIN', new_user_session_path, class: 'nav-btn' %>
              <%= link_to 'REGISTER', new_user_registration_path, class: 'nav-btn' %>
            <%end%>
          </div>
        </nav>
      </header>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="main">
        <%= yield %>
      </div>

      <footer>
        <div class="footer-container d-flex">
          <div class="logo-container d-flex">
            <h1 class="logo-title">Rampart</h1>
            <%= image_tag("logo-rampart-orange.jpg", :alt => "logo", :class => "logo-image") %>
          </div>

          <div class="copyright d-flex">
            <a href="#" class="footer-btn">Privacy Policy</a>
            <a href="#" class="footer-btn">Terms & Conditions</a>
            <p>Copyright 2014.</p>
            <p>All rights reserved.</p>
          </div>

          <div class="social-media d-flex">
            <p>Connect with us:</p>
            <a href="#"><%= image_tag("twitter-orange.png", :alt=> "social-icon", :class=> "social-icon")%></a>
            <a href="#"><%= image_tag("instagram-orange.png", :alt=> "social-icon", :class=> "social-icon")%></a>
            <a href="#"><%= image_tag("facebook-orange.png", :alt=> "social-icon", :class=> "social-icon")%></a>
          </div>

        </div>
      </footer>
    </div>
  </body>
</html>
